!!! 5
html.no-js
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Sound Invaders
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    style
      body {
      padding-top: 60px;
      padding-bottom: 40px;
      }
    link(rel='stylesheet', href='css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='css/main.css')
    link(rel='icon', type='image/x-icon', href='img/favicon.ico')
    script(src='vendor-js/vendor/modernizr-2.6.1-respond-1.1.0.min.js')
  body
    //if lt IE 7
      p.chromeframe
        | You are using an outdated browser.
        a(href='http://browsehappy.com/') Upgrade your browser today
        | or
        a(href='http://www.google.com/chromeframe/?redirect=true') install Google Chrome Frame
        | to better experience this site.
    //
       This code is taken from http://twitter.github.com/bootstrap/examples/hero.html 
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') Sound Invaders
          .nav-collapse.collapse
            ul.nav
              li.active
                a(href='#') Home
    .container
      .hero-unit
        img(src='/img/sound-invader.png', id='sound-invader')
        h1 Sound Invaders

        h2 What have we here?
        p With our bookmarklet you can experience the NKO 2012 website in a whole new way.
        ul
          li Speak to other players using your microphone!
          li Hear other players around you in a simulated spatialized audio environment!!
          li Type and generate speech sound that gets sent to all clients!!!
          li Click on your dude to Buy a Car and zip around!!!!
        
        h2 How to Use:
        h3 Drag the Bookmarklet below to your Bookmarks Bar
        p
          a.btn.btn-primary.btn-large(href="#{bookmarkletSource}") Sound Invader
            span.icon-arrow-up
        h3 Set Yo' Chrome Flags
        ol
          li Type the following into your chrome's address bar:
          pre chrome://flags
          li Find this section:
          img(src="img/enable-flags.png")
          li Click Enable
          li Relaunch Chrome
        h3 Load Your Bookmarklet
        ul
          li GO TO 
            a(href="http://nodeknockout.com", target="_blank") NODEKNOCKOUT.COM
          li Click your Bookmarklet in the Bookmarks Bar
          li Click ALLOW when Chrome asks to use your Microphone

        h3 Plug in Those Headphones!!!
        ul
          li Headphones are important to fully experience the simulated audio environment we've created.  
          li Move around and hear other players' voices move and attenuate around you!!
          li HINT: Hold down CTRL while speaking into your microphone

        h2 GO PLAY! HAVE FUN!
        h2 VOTE FOR US BABYYY!!

      //
         Example row of columns 
      footer
      a(href="https://github.com/nko3/space-invader") source
        p ©Awesome NYC NODEKO team 2012
    //
       /container 
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
    script
      window.jQuery || document.write('<script src="vendor-js/vendor/jquery-1.8.2.min.js"><\\/script>')
    script(src='vendor-js/vendor/bootstrap.min.js')
    script
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));

