.icon-arrow-up {
  margin-left: 10px;
}
li {
  font-size: 18px;
  line-height: 1.5em;
  padding: 3px 0;
}

#sound-invader {
  position: absolute;
  right: 110px;
  top: 30px;
  -webkit-transform: rotate(5deg);
}
















